@model IEnumerable<LoginandRegisterMVC.Models.Candidate>

@{
    ViewBag.Title = "EditElections";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>View Candidates</h2>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by First or Last name: <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-default" /> ||
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElectionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CandidateId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ElectionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.ActionLink("Details", "ViewCandidates", new { id = item.EmployeeId }) |
                @Html.ActionLink("Remove", "RemoveCandidates", new { id = item.CandidateId })
            </td>
        </tr>
    }

</table>
