@model IEnumerable<LoginandRegisterMVC.Models.Candidate>

@{
    ViewBag.Title = "EditElections";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>View Candidates</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElectionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CandidateId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ElectionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.ActionLink("Details", "ViewCandidates", new { id = item.EmployeeId }) |
                @Html.ActionLink("Remove", "RemoveCandidates", new { id = item.CandidateId })
            </td>
        </tr>
    }

</table>
