@model IEnumerable<LoginandRegisterMVC.Models.User>

@{
    ViewBag.Title = "Dashboard Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <style>
        .image {
            width: 100%;
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text-center {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    </style>
    <div class="text-center">        <h1 class="display-4">Welcome to Online Voting System!!</h1>    </div>
    <div class="image">        <img src="~/css/Vote.png" alt="Vote-image" />    </div>

</body>
</html>


<!--<h2>Admin Page redirects here</h2>

Hello @Session["Username"]

<p>
    @Html.ActionLink("Registration", "Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ServiceLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ServiceLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
                </td>*@
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Logout", "Logout")
</p>

-->
