@model LoginandRegisterMVC.Models.User
@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;


@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
  
    .form-horizontal{
        display:inline;
        float:left;
    }

    .form-group{
        width:auto;
    }
    
</style>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal container-fluid">

    <h2 class="text-center text-info">LOGIN</h2>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })<br />
                                     <div class="d-flex flex-row justify-content-between container-fluid">


 <div class="form mr-3 ml-3 container-fluid">
 <div class="form-group">
   @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-10" })
                                                                                 <div class="col-md-10">
                                                                                     @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control  form-control-md", @placeholder = "Enter your email id" } })
                                                                                     @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                                                                                 </div>
                                                                             </div>

                                                                             <div class="form-group">
                                                                                 @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-10" })
                                                                                 <div class="col-md-10">
                                                                                     @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-md", @placeholder = "Enter your password" } })
                                                                                     @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                                                 </div>
                                                                             </div>

                                                                             @Html.MathCaptcha()

                                                                             @*@Html.Captcha(3)*@
                                                                             <br />
                                                                             <p class="Error" color="red">
                                                                                 @ViewBag.ErrMessage
                                                                             </p>
                                                                             <div class="form-group">
                                                                                 <div class="col-md-offset-2 col-md-10 ml-5">
                                                                                     <input type="submit" value="Login" class="btn btn-info" />
                                                                                 </div>
                                                                             </div>
                                                                         </div>
                                                                         <div class="column d-none d-lg-block d-xl-block d-sm-none">
                                                                             <img src="https://st2.depositphotos.com/1001599/43046/v/380/depositphotos_430460192-stock-illustration-sign-page-abstract-concept-vector.jpg?forcejpeg=true">
                                                                         </div>
                                                                     </div>
    </div>
    }

    <a href="ForgotPassword">Forgot Password?</a>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
