@model IEnumerable<LoginandRegisterMVC.Models.Election>

@{
    ViewBag.Title = "ViewElection";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<ul class="breadcrumb">
    <li><a href="Index">Home</a></li>
    <li><a href="ViewElection">Elections</a></li>
</ul>

<h2>Elections</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElectionId)
        </th>
        <th>
            
                @Html.DisplayNameFor(model => model.ElectionTitle)
            
        </th>
        <th class="d-none d-lg-table-cell d-xl-table-cell d-sm-none">
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th class="d-none d-lg-table-cell d-xl-table-cell d-sm-none">
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th class="d-none d-lg-table-cell d-xl-table-cell d-sm-none">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="d-none d-lg-table-cell d-xl-table-cell d-sm-none">
            @Html.DisplayNameFor(model => model.ServiceLine)
        </th>
        

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ElectionId)
    </td>

    <td>
        
            @Html.DisplayFor(modelItem => item.ElectionTitle)
            
    </td>
     <td class="d-none d-lg-table-cell d-xl-table-cell d-sm-none"  >
        @Html.DisplayFor(modelItem => item.StartTime)
    </td>
    <td class="d-none d-lg-table-cell d-xl-table-cell d-sm-none"  >
        @Html.DisplayFor(modelItem => item.EndTime)
    </td>
    <td class="d-none d-lg-table-cell d-xl-table-cell d-sm-none">
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td class="d-none d-lg-table-cell d-xl-table-cell d-sm-none">
        @Html.DisplayFor(modelItem => item.ServiceLine)
    </td>

    <td>

        @if (item.StartTime > DateTime.Now)
        {
    @Html.ActionLink("Apply", "ApplyElection", new { id = item.ElectionId }, new { @class = "btn btn-primary" }) }

else
{
    <abbr title="Time Up"><button disabled>Apply</button></abbr>}


        @if (item.StartTime < DateTime.Now && item.EndTime > DateTime.Now)
        {

    @Html.ActionLink("Vote", "VoteElection", new { id = item.ElectionId }, new { @class = "btn btn-primary" }) }
                    else if (item.StartTime > DateTime.Now)
                    {
    <abbr title="Voting Not Started">
        <button disabled>Vote</button> </abbr>}
        else
        {
    <abbr title="Voting Over">
        <button disabled>Vote</button>
    </abbr>}



            @if (item.EndTime < DateTime.Now)
            {

        @Html.ActionLink("Statistics", "../Result/Graph", new { id = item.ElectionId }, new { @class = "btn btn-primary" }) }
    else if (item.StartTime < DateTime.Now && item.EndTime > DateTime.Now)
    {
    <abbr title="Voting going on">
        <button disabled>Statistics</button>
    </abbr>}
            else
            {<abbr title="Voting Not Started"><button disabled>Statistics</button></abbr>}

</td>
</tr>
    }

</table>
