@model IEnumerable<LoginandRegisterMVC.Models.Election>

@{
    ViewBag.Title = "ViewElection";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Elections</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElectionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectionTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceLine)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ElectionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceLine)
            </td>
            <td>
                @Html.ActionLink("Vote", "VoteElection", new { id = item.ElectionId }) |
                @Html.ActionLink("Apply", "ApplyElection", new { id = item.ElectionId }) |
                @Html.ActionLink("Statistics", "Result", new { id = item.ElectionId })


            </td>
        </tr>
    }

</table>
