
@{
    ViewBag.Title = "ViewElection";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<ul class="breadcrumb">
    <li><a href="Index">Home</a></li>
    <li><a href="ViewElection">Elections</a></li>
</ul>

<h2 class="text-center text-danger">Elections</h2>

@using (Html.BeginForm("ViewElection", "Users"))
{
    <div class="form-group">
        <div class="form-group row d-flex align-items-end">
            <div class="col-md-3">

                @Html.DropDownList("ServiceLine", new List<SelectListItem>
                  {
                      new SelectListItem{Text="All",Value="All"},
                      
                      new SelectListItem{Text="MDU",Value="MDU"},
                      new SelectListItem{Text="ADM",Value="ADM"},
                      new SelectListItem{Text="QEA",Value="QEA"},
                      new SelectListItem{Text="CSD",Value="CSD"},
                      }, htmlAttributes: new { @class = "form-control" })

            </div>
            <div>
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>


        </div>
    </div>
}


<table class="table table-responsive-md">
    <tr>
        <th>
            Election Id
        </th>
        <th>

            ElectionTitle

        </th>
        <th class="d-none d-lg-table-cell d-xl-table-cell d-sm-none">
            StartTime
        </th>
        <th class="d-none d-lg-table-cell d-xl-table-cell d-sm-none">
            EndTime
        </th>
        <th class="d-none d-lg-table-cell d-xl-table-cell d-sm-none">
            Description
        </th>
        <th class="d-none d-lg-table-cell d-xl-table-cell d-sm-none">
            ServiceLine
        </th>


    </tr>

    @foreach (var item in @ViewBag.Elections)
    {
        <tr>
            <td>
                @item.ElectionId
            </td>

            <td>

                @item.ElectionTitle

            </td>
            <td class="d-none d-lg-table-cell d-xl-table-cell d-sm-none">
                @item.StartTime
            </td>
            <td class="d-none d-lg-table-cell d-xl-table-cell d-sm-none">
                @item.EndTime
            </td>
            <td class="d-none d-lg-table-cell d-xl-table-cell d-sm-none">
                @item.Description
            </td>
            <td class="d-none d-lg-table-cell d-xl-table-cell d-sm-none">
                @item.ServiceLine
            </td>

            <td class="col-md-4 col-sm-6">
                @Html.ActionLink("Details", "ViewElectionById", new { id = @item.ElectionId }, new { @class = "btn btn-info d-lg-none" })

                @if (@item.StartTime > DateTime.Now)
                {
                    @Html.ActionLink("Apply", "ApplyElection", new { id = @item.ElectionId }, new { @class = "btn btn-primary" }) }

                else
                {
                    <abbr title="Time Up"><button disabled>Apply</button></abbr>}


                @if (item.StartTime < DateTime.Now && item.EndTime > DateTime.Now)
                {

                    @Html.ActionLink("Vote", "VoteElection", new { id = item.ElectionId }, new { @class = "btn btn-primary" }) }
                else if (item.StartTime > DateTime.Now)
                {
                    <abbr title="Voting Not Started">
                        <button disabled>Vote</button>
                    </abbr>}
                else
                {
                    <abbr title="Voting Over">
                        <button disabled>Vote</button>
                    </abbr>}



                @if (item.EndTime < DateTime.Now)
                {

                    @Html.ActionLink("Statistics", "Graph","Result", new { id = item.ElectionId }, new { @class = "btn btn-primary" }) }
                else if (item.StartTime < DateTime.Now && item.EndTime > DateTime.Now)
                {
                    <abbr title="Voting going on">
                        <button disabled>Statistics</button>
                    </abbr>}
                else
                {<abbr title="Voting Not Started"><button disabled>Statistics</button></abbr>}

            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
