@model IEnumerable<LoginandRegisterMVC.Models.VoteModel>


@{
    ViewBag.Title = "AddCandidates";
}

<h2>View Candidates</h2>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.candidateM.CandidateId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userM.Username)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => @item.candidateM.CandidateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.userM.Username)
                @Html.DisplayFor(modelItem => @item.userM.LastName)

            </td>
            <td>
                @Html.ActionLink("VOTE", "Vote", new { id = @item.candidateM.CandidateId, id2 = @item.candidateM.ElectionId })
            </td>
            <td></td>
        </tr>
    }


</table>
